{;; norm1 install the user table schema into Datomic
 :clj-crm/norm1 {:txes [[
   {:db/doc "User email address"
    :db/ident :user/email
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/unique :db.unique/identity
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "User name"
    :db/ident :user/name
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/index true
    :db/fulltext true
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "User password hash"
    :db/ident :user/pwd
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "User status"
    :db/ident :user/status
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "User roles - determine access permission. A user may have several roles"
    :db/ident :user/roles
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/many
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   [:db/add #db/id [:db.part/user] :db/ident :user.status/pending]
   [:db/add #db/id [:db.part/user] :db/ident :user.status/active]
   [:db/add #db/id [:db.part/user] :db/ident :user.status/inactive]
   [:db/add #db/id [:db.part/user] :db/ident :user.status/cancelled]

   [:db/add #db/id [:db.part/user] :db/ident :user.roles/manager]
   [:db/add #db/id [:db.part/user] :db/ident :user.roles/sales]
   [:db/add #db/id [:db.part/user] :db/ident :user.roles/read-only]]]}

;; norm2 install certain user init data into Datomic for testing purpose
:clj-crm/norm2 {:txes [[
   {:user/name "Test screen name"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "ggyy8@gmail.com"
    :user/status :user.status/active
    :user/roles  [:user.roles/sales :user.roles/read-only]}]]}

}
  
