{;; norm1 installs the user table schema into Datomic
 :clj-crm/norm1 {:txes [[
   {:db/doc "User email address"
    :db/ident :user/email
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/unique :db.unique/identity
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "User screen name"
    :db/ident :user/name
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/index true
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "User password hash"
    :db/ident :user/pwd
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "User status"
    :db/ident :user/status
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "User roles - determine access permission. A user may have several roles"
    :db/ident :user/roles
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "User team"
    :db/ident :user/team
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "Team name"
    :db/ident :team/name
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/unique :db.unique/identity
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   [:db/add #db/id [:db.part/user] :db/ident :user.status/pending]
   [:db/add #db/id [:db.part/user] :db/ident :user.status/active]
   [:db/add #db/id [:db.part/user] :db/ident :user.status/inactive]
   [:db/add #db/id [:db.part/user] :db/ident :user.status/cancelled]

   [:db/add #db/id [:db.part/user] :db/ident :user.roles/manager]
   [:db/add #db/id [:db.part/user] :db/ident :user.roles/sales]
   [:db/add #db/id [:db.part/user] :db/ident :user.roles/lead]
   ]]}

;; norm3 installs customer table schema into Datomic
:clj-crm/norm3 {:txes [[
   {:db/doc "Customer id from LAMP, data type string"
    :db/ident :customer/id
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/index true
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "Customer Chinese name"
    :db/ident :customer/name
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/index true
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "Customer English name"
    :db/ident :customer/name-en
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/fulltext true
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "Customer Tax ID from government"
    :db/ident :customer/tax-id
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/index true
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "Customer business type: for business intelligence team usage"
    :db/ident :customer/business-type
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "Customer inventory type: currently only account and display"
    :db/ident :customer/inventory-type
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "Customer replacement ID. The example of rp-id is a-1234gh or d-1234gh. The account type will begins with a-. The display type will begins with d-"
    :db/ident :customer/rp-id
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/unique :db.unique/identity
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   ;; enumeration for customer/inventory-type
   [:db/add #db/id [:db.part/user] :db/ident :customer.inv/account]
   [:db/add #db/id [:db.part/user] :db/ident :customer.inv/display]

   ;; enumeration for customer/business-type
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/arts]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/automotive]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/computer]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/construction]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/cosmetics]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/celebrity]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/education]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/fashion]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/finance]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/food]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/games]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/government]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/health]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/marketing]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/e-commerce]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/media]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/travel]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/retail]
   [:db/add #db/id [:db.part/user] :db/ident :customer.bus/miscellaneous]
]]}
;; norm4 installs request table schema into Datomic
:clj-crm/norm4 {:txes [[
   {:db/doc "reference points to user. The user should be sales"
    :db/ident :req/sales
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "list of reference points to customer."
    :db/ident :req/add-customer-list
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/many
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "list of reference points to customer."
    :db/ident :req/remove-customer-list
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/many
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "the status of this request: open, approved, rejected"
    :db/ident :req/status
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   ;; enumeration for request status
   [:db/add #db/id [:db.part/user] :db/ident :req.status/open]
   [:db/add #db/id [:db.part/user] :db/ident :req.status/modified]
   [:db/add #db/id [:db.part/user] :db/ident :req.status/approved]
   [:db/add #db/id [:db.part/user] :db/ident :req.status/rejected]
]]}
;; norm5 installs allocation table schema into Datomic
:clj-crm/norm5 {:txes [[
   {:db/doc "reference points to user. The user should be sales"
    :db/ident :allo/sales
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "reference points to customer"
    :db/ident :allo/customer
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "Record the timing that sales applied for customer."
    :db/ident :allo/time
    :db/valueType :db.type/instant
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}
]]}

}
