{
:clj-crm/norm9-1 {:txes [
  [{:db/doc "Record the rebate value for the debtor and product."
    :db/ident :allo/rebate
    :db/valueType :db.type/float
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "The product name of revenue stream."
    :db/ident :rev-stream/product-name
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}]

  [{:db/doc "Tag string of a history point"
    :db/ident :history/tag
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/unique :db.unique/identity
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "Whether the history tag is queryable"
    :db/ident :history/queryable
    :db/valueType :db.type/boolean
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "Tx value of a history point"
    :db/ident :history/tx
    :db/valueType :db.type/long
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}]

  [{:db/doc "string as the form `2019-q1`, `2019-q2`, etc."
    :db/ident :pipeline/year-quarterly
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "ref to eid of user table"
    :db/ident :pipeline/sales
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "ref to eid of product.type"
    :db/ident :pipeline/product
    :db/valueType :db.type/ref
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "The sales channel (string value)"
    :db/ident :pipeline/sales-channel-name
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "The clients name (string value)"
    :db/ident :pipeline/customer-name
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "The campaign name (string value)"
    :db/ident :pipeline/campaign-name
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "The revenue"
    :db/ident :pipeline/revenue
    :db/valueType :db.type/long
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "The sale closing probability"
    :db/ident :pipeline/prob
    :db/valueType :db.type/float
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "The status of this pipeline entry. (string value)"
    :db/ident :pipeline/status
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}

   {:db/doc "The note of this pipeline entry. (string value)"
    :db/ident :pipeline/note
    :db/valueType :db.type/string
    :db/cardinality :db.cardinality/one
    :db/id #db/id [:db.part/db]
    :db.install/_attribute :db.part/db}]
]}
:clj-crm/norm9-2 {:txes [
  [{:db/id :rev-allo/customer
    :db/index true}]
]}
:clj-crm/norm9-3 {:txes [
  [[:db/add #db/id [:db.part/user] :db/ident :user.roles/partner-manager]]
]}
:clj-crm/norm9-4 {:txes [
 [{:db/doc "order ad unit"
   :db/ident :order/ad-unit
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}

  {:db/doc "order sign status"
   :db/ident :order/sign-status
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}

  {:db/doc "order sign status EIO"
   :db/ident :order/sign-status-eio
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}

  {:db/doc "revenue stream ad unit"
   :db/ident :rev-stream/ad-unit
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}]
]}
:clj-crm/norm9-5 {:txes [
 [{:db/doc "The business-type of this pipeline entry. (string value)"
   :db/ident :pipeline/business-type
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}]
]}
:clj-crm/norm9-6 {:txes [
 [{:db/doc "The billing account id (string value)"
   :db/ident :rev-stream/billing-account-id
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}]
]}
}
