{
;; data1 installs certain user init data into Datomic for testing purpose
:clj-crm/data1 {:txes [[
   {:db/id     "t1"
    :team/name "Team 1"}

   {:db/id     "t2"
    :team/name "Team 2"}

   {:db/id     "t3"
    :team/name "Team 3"}

   {:db/id     "A1"
    :user/name "sales name A1"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userA1@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/sales
    :user/team "t1"}

   {:db/id     "A2"
    :user/name "sales name A2"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userA2@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/sales
    :user/team "t1"}

   {:db/id     "A3"
    :user/name "sales name A3"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userA3@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/sales
    :user/team "t1"}

   {:db/id     "A"
    :user/name "lead name A"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "leadA@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/lead
    :user/team "t1"}

   {:db/id     "Q"
    :user/name "Annie"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "manager@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/manager
    :user/team "t1"}

   {:db/id     "B1"
    :user/name "sales name B1"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userB1@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/sales
    :user/team "t2"}

   {:db/id     "B2"
    :user/name "sales name B2"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userB2@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/sales
    :user/team "t2"}

   {:db/id     "B3"
    :user/name "sales name B3"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userB3@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/sales
    :user/team "t2"}

   {:db/id     "B"
    :user/name "lead name B"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "leadB@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/lead
    :user/team "t2"}

   {:db/id     "C1"
    :user/name "sales name C1"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userC1@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/sales
    :user/team "t3"}

   {:db/id     "C2"
    :user/name "sales name C2"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userC2@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/sales
    :user/team "t3"}

   {:db/id     "C3"
    :user/name "sales name C3"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userC3@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/sales
    :user/team "t3"}

   {:db/id     "C"
    :user/name "lead name C"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "leadC@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/lead
    :user/team "t3"}
   ]]}

;; data2 installs certain fake customer/request/allocation data into Datomic for testing purpose
:clj-crm/data2 {:txes [[
   {:db/id "a-1234"
    :customer/id "CM0001"
    :customer/name "AAA股份有限公司"
    :customer/name-en "AAA Corporation"
    :customer/tax-id "12345678"
    :customer/business-type :customer.bus/food
    :customer/inventory-type :customer.inv/account
    :customer/rp-id "a-1234"}

   {:customer/id "CM0001"
    :customer/name "AAA股份有限公司"
    :customer/name-en "AAA Corporation"
    :customer/tax-id "12345678"
    :customer/business-type :customer.bus/food
    :customer/inventory-type :customer.inv/display
    :customer/rp-id "d-1234"}

   {:db/id "d-2345"
    :customer/id "CM0002"
    :customer/name "BBB股份有限公司"
    :customer/name-en "BBB Corporation"
    :customer/tax-id "23456789"
    :customer/business-type :customer.bus/games
    :customer/inventory-type :customer.inv/display
    :customer/rp-id "d-2345"}

   {:customer/id "CM0002"
    :customer/name "BBB股份有限公司"
    :customer/name-en "BBB Corporation"
    :customer/tax-id "23456789"
    :customer/business-type :customer.bus/games
    :customer/inventory-type :customer.inv/account
    :customer/rp-id "a-2345"}

   {:db/id "a-3214"
    :customer/id "CM0003"
    :customer/name "CCC股份有限公司"
    :customer/name-en "CCC Corporation"
    :customer/tax-id "34567891"
    :customer/business-type :customer.bus/e-commerce
    :customer/inventory-type :customer.inv/account
    :customer/rp-id "a-3214"}

   {:db/id "d-3214"
    :customer/id "CM0003"
    :customer/name "CCC股份有限公司"
    :customer/name-en "CCC Corporation"
    :customer/tax-id "34567891"
    :customer/business-type :customer.bus/e-commerce
    :customer/inventory-type :customer.inv/display
    :customer/rp-id "d-3214"}

   {:db/id "a-6789"
    :customer/id "CM0004"
    :customer/name "DDD股份有限公司"
    :customer/name-en "DDD Corporation"
    :customer/tax-id "45678912"
    :customer/business-type :customer.bus/arts
    :customer/inventory-type :customer.inv/account
    :customer/rp-id "a-6789"}

   {:db/id "d-9876"
    :customer/id "CM0005"
    :customer/name "EEE股份有限公司"
    :customer/name-en "EEE Corporation"
    :customer/tax-id "56789123"
    :customer/business-type :customer.bus/automotive
    :customer/inventory-type :customer.inv/display
    :customer/rp-id "d-9876"}

   {:customer/id "CM0006"
    :customer/name "FFF股份有限公司"
    :customer/name-en "FFF Corporation"
    :customer/tax-id "67891234"
    :customer/business-type :customer.bus/education
    :customer/inventory-type :customer.inv/display
    :customer/rp-id "d-000000001"}

   {:customer/id "CM0007"
    :customer/name "GGG股份有限公司"
    :customer/name-en "GGG Corporation"
    :customer/tax-id "78912345"
    :customer/business-type :customer.bus/fashion
    :customer/inventory-type :customer.inv/display
    :customer/rp-id "d-000000002"}

   {:customer/id "CM0008"
    :customer/name "HHH股份有限公司"
    :customer/name-en "HHH Corporation"
    :customer/tax-id "89123456"
    :customer/business-type :customer.bus/finance
    :customer/inventory-type :customer.inv/display
    :customer/rp-id "d-000000003"}

   {:customer/id "CM0009"
    :customer/name "III股份有限公司"
    :customer/name-en "III Corporation"
    :customer/tax-id "91234567"
    :customer/business-type :customer.bus/retail
    :customer/inventory-type :customer.inv/display
    :customer/rp-id "d-000000004"}

   {:req/sales [:user/email "userA1@example.com"] ;; lookup ref for existing entity
    :req/add-customer-list #{"a-1234" "d-2345"} ;; tempid for newly created entity
    :req/remove-customer-list #{"a-3214"}
    :req/status :req.status/open}

   {:db/id "firstreq"
    :req/sales [:user/email "userA1@example.com"] ;; lookup ref
    :req/add-customer-list #{"a-3214" "a-6789"} ;; tempid
    :req/remove-customer-list #{}
    :req/status :req.status/approved}

   {:allo/sales [:user/email "userA1@example.com"]
    :allo/customer "a-3214"
    :allo/time #inst "2014-01-28"}
   {:allo/sales [:user/email "userA1@example.com"]
    :allo/customer "d-3214"
    :allo/time #inst "2014-01-28"}
   {:allo/sales [:user/email "userA1@example.com"]
    :allo/customer "a-6789"
    :allo/time #inst "2014-01-29"}
   {:allo/sales [:user/email "userA2@example.com"]
    :allo/customer "d-9876"
    :allo/time #inst "2014-02-28"}]

  [{:req/sales [:user/email "userA2@example.com"] ;; lookup ref for existing entity
    :req/add-customer-list #{}
    :req/remove-customer-list #{[:customer/rp-id "d-9876"]}
    :req/status :req.status/open}]
   ]}
;; data3 installs certain fake request data into Datomic for testing purpose
:clj-crm/data3 {:txes [[
   {:req/sales [:user/email "userA2@example.com"] ;; lookup ref for existing entity
    :req/add-customer-list #{[:customer/rp-id "a-3214"]} ;; lookup ref for existing entity
    :req/remove-customer-list #{}
    :req/status :req.status/open}
  ]]}
:clj-crm/data4 {:txes [[
   {:req/sales [:user/email "userA1@example.com"] ;; lookup ref for existing entity
    :req/add-customer-list #{[:customer/rp-id "d-000000004"]} ;; lookup ref for existing entity
    :req/remove-customer-list #{}
    :req/status :req.status/open}
  ]]}
}
