{
;; data1 installs certain user init data into Datomic for testing purpose
:clj-crm/data1 {:txes [[
   {:db/id     "A1"
    :user/name "sales name A1"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userA1@example.com"
    :user/status :user.status/active
    :user/channel :user.channel/direct
    :user/roles  :user.roles/sales
    :user/team   :user.team/team1}

   {:db/id     "A2"
    :user/name "sales name A2"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userA2@example.com"
    :user/status :user.status/active
    :user/channel :user.channel/direct
    :user/roles  :user.roles/sales
    :user/team   :user.team/team1}

   {:db/id     "A3"
    :user/name "sales name A3"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userA3@example.com"
    :user/status :user.status/active
    :user/channel :user.channel/direct
    :user/roles  :user.roles/sales
    :user/team   :user.team/team1}

   {:db/id     "A"
    :user/name "lead name A"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "leadA@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/lead
    :user/team   :user.team/team1}

   {:db/id     "Q"
    :user/name "Annie"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "manager@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/manager
    :user/team   :user.team/null}

   {:db/id     "B1"
    :user/name "sales name B1"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userB1@example.com"
    :user/status :user.status/active
    :user/channel :user.channel/reseller
    :user/roles  :user.roles/sales
    :user/team   :user.team/team2}

   {:db/id     "B2"
    :user/name "sales name B2"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userB2@example.com"
    :user/status :user.status/active
    :user/channel :user.channel/agency
    :user/roles  :user.roles/sales
    :user/team   :user.team/team2}

   {:db/id     "B3"
    :user/name "sales name B3"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userB3@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/sales
    :user/team   :user.team/team2}

   {:db/id     "B"
    :user/name "lead name B"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "leadB@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/lead
    :user/team   :user.team/team2}

   {:db/id     "C1"
    :user/name "Account-Executvie name C1"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userC1@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/account-executive
    :user/team   :user.team/team3}

   {:db/id     "C2"
    :user/name "Operator name C2"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userC2@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/operator
    :user/team   :user.team/team3}

   {:db/id     "C3"
    :user/name "sales name C3"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "userC3@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/sales
    :user/team   :user.team/team3}

   {:db/id     "C"
    :user/name "lead name C"
    :user/pwd  "bcrypt+sha512$7b58b1516abd049081f655555b154270$12$1f97671825888b5dd330ba8e489774b2b1b076c55e991ba6"
    :user/email "leadC@example.com"
    :user/status :user.status/active
    :user/roles  :user.roles/lead
    :user/team   :user.team/team3}
   ]]}

;; data2 installs certain fake customer/request/allocation data into Datomic for testing purpose
:clj-crm/data2 {:txes [
  [{:db/id "cm-1"
    :customer/id "CM0001"
    :customer/name "AAA股份有限公司"
    :customer/name-en "AAA Corporation"
    :customer/tax-id "12345678"
    :customer/business-type :customer.bus/food}

   {:db/id "cm-2"
    :customer/id "CM0002"
    :customer/name "BBB股份有限公司"
    :customer/name-en "BBB Corporation"
    :customer/tax-id "23456789"
    :customer/business-type :customer.bus/games}

   {:db/id "cm-3"
    :customer/id "CM0003"
    :customer/name "CCC股份有限公司"
    :customer/name-en "CCC Corporation"
    :customer/tax-id "34567891"
    :customer/business-type :customer.bus/e-commerce}

   {:db/id "cm-4"
    :customer/id "CM0004"
    :customer/name "DDD股份有限公司"
    :customer/name-en "DDD Corporation"
    :customer/tax-id "45678912"
    :customer/business-type :customer.bus/arts}

   {:db/id "cm-5"
    :customer/id "CM0005"
    :customer/name "EEE股份有限公司"
    :customer/name-en "EEE Corporation"
    :customer/tax-id "56789123"
    :customer/business-type :customer.bus/automotive}

   {:customer/id "CM0006"
    :customer/name "FFF股份有限公司"
    :customer/name-en "FFF Corporation"
    :customer/tax-id "67891234"
    :customer/business-type :customer.bus/education}

   {:customer/id "CM0007"
    :customer/name "GGG股份有限公司"
    :customer/name-en "GGG Corporation"
    :customer/tax-id "78912345"
    :customer/business-type :customer.bus/fashion}

   {:db/id "cm-8"
    :customer/id "CM0008"
    :customer/name "HHH股份有限公司"
    :customer/name-en "HHH Corporation"
    :customer/tax-id "89123456"
    :customer/business-type :customer.bus/finance}

   {:db/id "cm-9"
    :customer/id "CM0009"
    :customer/name "III股份有限公司"
    :customer/name-en "III Corporation"
    :customer/tax-id "91234567"
    :customer/business-type :customer.bus/retail}

   {:req/sales [:user/email "userA1@example.com"] ;; lookup ref for existing entity
    :req/add-customer-items [{:customerItem/customer "cm-1"
                              :customerItem/product :product.cat/all}
                             {:customerItem/customer "cm-2"
                              :customerItem/product :product.cat/all }]
    :req/remove-customer-items #{}
    :req/status :req.status/open
    :req/stamp 0}

   {:req/sales [:user/email "userA1@example.com"] ;; lookup ref
    :req/add-customer-items #{{:customerItem/customer "cm-5"
                               :customerItem/product :product.cat/all}
                              {:customerItem/customer "cm-4"
                               :customerItem/product :product.cat/all}}
    :req/remove-customer-items #{}
    :req/status :req.status/approved
    :req/stamp 0}]

  [{:allo/sales [:user/email "userA1@example.com"]
    :allo/customer [:customer/id "CM0003"]
    :allo/product :product.cat/all
    :allo/time #inst "2014-01-28T09:00:00Z"}
   {:allo/sales [:user/email "userA3@example.com"]
    :allo/customer [:customer/id "CM0004"]
    :allo/product :product.cat/all
    :allo/time #inst "2014-01-29"}
   {:allo/sales [:user/email "userA2@example.com"]
    :allo/customer [:customer/id "CM0005"]
    :allo/product :product.cat/all
    :allo/time #inst "2014-02-28"}]

  [{:req/sales [:user/email "userA2@example.com"] ;; lookup ref for existing entity
    :req/add-customer-items #{}
    :req/remove-customer-items #{{:customerItem/customer [:customer/id "CM0005"]
                                  :customerItem/product :product.cat/all}}
    :req/status :req.status/open
    :req/stamp 0}]
   ]}
;; data3 installs certain fake request data into Datomic for testing purpose
:clj-crm/data3 {:txes [[
   {:req/sales [:user/email "userA2@example.com"] ;; lookup ref for existing entity
    :req/add-customer-items #{{:customerItem/customer [:customer/id "CM0008"]
                               :customerItem/product :product.cat/all}}
    :req/remove-customer-items #{}
    :req/status :req.status/open
    :req/stamp 0}
  ]]}
:clj-crm/data4 {:txes [[
   {:req/sales [:user/email "userA1@example.com"] ;; lookup ref for existing entity
    :req/add-customer-items #{{:customerItem/customer [:customer/id "CM0009"]
                               :customerItem/product :product.cat/all}}
    :req/remove-customer-items #{}
    :req/status :req.status/open
    :req/stamp 0}
  ]]}
:clj-crm/data5 {:txes [
  [{:product/type :product.type/line_now           :product/category :product.cat/all}
   {:product/type :product.type/timeline           :product/category :product.cat/all}
   {:product/type :product.type/today              :product/category :product.cat/all}
   {:product/type :product.type/more_tab           :product/category :product.cat/all}
   {:product/type :product.type/line_point         :product/category :product.cat/all}
   {:product/type :product.type/line_point_code_tw :product/category :product.cat/all}
   {:product/type :product.type/event_banner       :product/category :product.cat/all}
   {:product/type :product.type/BC                 :product/category :product.cat/all}
   {:product/type :product.type/OA                 :product/category :product.cat/all}
   {:product/type :product.type/SS                 :product/category :product.cat/all}
   {:product/type :product.type/line_at            :product/category :product.cat/all}
   {:product/type :product.type/line_mobile_tw     :product/category :product.cat/all}]
  [{:product/type :product.type/line_now           :product/category :product.cat/account}
   {:product/type :product.type/timeline           :product/category :product.cat/display}
   {:product/type :product.type/today              :product/category :product.cat/display}
   {:product/type :product.type/more_tab           :product/category :product.cat/display}
   {:product/type :product.type/line_point         :product/category :product.cat/account}
   {:product/type :product.type/line_point_code_tw :product/category :product.cat/account}
   {:product/type :product.type/event_banner       :product/category :product.cat/display}
   {:product/type :product.type/BC                 :product/category :product.cat/account}
   {:product/type :product.type/OA                 :product/category :product.cat/account}
   {:product/type :product.type/SS                 :product/category :product.cat/account}
   {:product/type :product.type/line_at            :product/category :product.cat/account}
   {:product/type :product.type/line_mobile_tw     :product/category :product.cat/account}]
  [{:product/type :product.type/line_now           :product/type-id "LINE NOW"}
   {:product/type :product.type/timeline           :product/type-id "TIMELINE"}
   {:product/type :product.type/today              :product/type-id "TODAY"}
   {:product/type :product.type/more_tab           :product/type-id "More tab"}
   {:product/type :product.type/line_point         :product/type-id "LINE Point"}
   {:product/type :product.type/line_point_code_tw :product/type-id "LINE Point Code(TW)"}
   {:product/type :product.type/event_banner       :product/type-id "Event Banner"}
   {:product/type :product.type/BC                 :product/type-id "BC"}
   {:product/type :product.type/OA                 :product/type-id "OA"}
   {:product/type :product.type/SS                 :product/type-id "SS"}
   {:product/type :product.type/line_at            :product/type-id "LINE@"}
   {:product/type :product.type/line_mobile_tw     :product/type-id "LINE Mobile TW"}]
]}
:clj-crm/data6 {:txes [
  [{:transaction/doc "empty-db-status"}]
  [{:order/product-unique-id "pui-001"
    :order/customer [:customer/id "CM0004"]
    :order/service-category-enum :product.type/BC
    :order/io-writing-time #inst "2019-02-28"
    :order/accounting-data #{{:accounting/month "2019-02" :accounting/revenue 100}
                             {:accounting/month "2019-03" :accounting/revenue 200}}}]
  [{:order/product-unique-id "pui-002"
    :order/customer [:customer/id "CM0005"]
    :order/service-category-enum :product.type/BC
    :order/io-writing-time #inst "2019-02-28"
    :order/accounting-data #{{:accounting/month "2019-05" :accounting/revenue 300}
                             {:accounting/month "2019-06" :accounting/revenue 400}}}]
  [{:order/product-unique-id "pui-003"
    :order/customer [:customer/id "CM0004"]
    :order/service-category-enum :product.type/today
    :order/io-writing-time #inst "2019-02-28"
    :order/product-net-price 700
    :order/terms-start-date "2019-07-26"
    :order/terms-end-date "2019-08-05"
    :order/accounting-data #{{:accounting/month "2019-07" :accounting/revenue 300}
                             {:accounting/month "2019-08" :accounting/revenue 400}}}]
  [{:transaction/doc "pui-01-02-03"}]
  [{:order/product-unique-id "pui-004"
    :order/customer [:customer/id "CM0004"]
    :order/service-category-enum :product.type/BC
    :order/io-writing-time #inst "2014-01-28"
    :order/accounting-data #{{:accounting/month "2019-09" :accounting/revenue 300}
                               {:accounting/month "2019-08" :accounting/revenue 400}}}]
  [{:order/product-unique-id "pui-005"
    :order/customer [:customer/id "CM0004"]
    :order/service-category-enum :product.type/SS
    :order/io-writing-time #inst "2019-02-28"
    :order/product-net-price 1950
    :order/terms-start-date "2019-02-26"
    :order/terms-end-date "2020-05-05"
    :order/accounting-data #{{:accounting/month "2019-02" :accounting/revenue -50}
                             {:accounting/month "2019-03" :accounting/revenue 100}
                             {:accounting/month "2019-04" :accounting/revenue -150}
                             {:accounting/month "2019-05" :accounting/revenue 50}
                             {:accounting/month "2019-06" :accounting/revenue 2000}}}]
  [{:order/product-unique-id "pui-006"
    :order/customer [:customer/id "CM0004"]
    :order/service-category-enum :product.type/OA
    :order/io-writing-time #inst "2019-02-28"
    :order/accounting-data #{{:accounting/month "2020-02" :accounting/revenue -30}
                             {:accounting/month "2020-05" :accounting/revenue 1000}}}]
  [{:order/product-unique-id "pui-007"
    :order/customer [:customer/id "CM0005"]
    :order/channel [:customer/id "CM0008"]
    :order/service-category-enum :product.type/today
    :order/io-writing-time #inst "2019-02-28"
    :order/product-net-price 97000
    :order/terms-start-date "2019-03-26"
    :order/terms-end-date "2020-08-05"
    :order/accounting-data #{{:accounting/month "2020-02" :accounting/revenue -3000}
                             {:accounting/month "2020-05" :accounting/revenue 100000}}}]
]}
:clj-crm/data7 {:txes [
  [{:allo/sales [:user/email "userB1@example.com"]
    :allo/customer [:customer/id "CM0006"]
    :allo/product :product.type/OA
    :allo/time #inst "2014-01-28T09:00:00Z"}
   {:allo/sales [:user/email "userB2@example.com"]
    :allo/customer [:customer/id "CM0007"]
    :allo/product :product.type/SS
    :allo/time #inst "2014-01-29"}
   {:allo/sales [:user/email "userB2@example.com"]
    :allo/customer [:customer/id "CM0008"]
    :allo/product :product.type/today
    :allo/time #inst "2018-01-29"} ]
  [{:order/product-unique-id "pui-008"
    :order/channel [:customer/id "CM0006"]
    :order/service-category-enum :product.type/OA
    :order/io-writing-time #inst "2019-02-28"
    :order/accounting-data #{{:accounting/month "2019-05" :accounting/revenue -300}
                             {:accounting/month "2019-06" :accounting/revenue 400}}}]
  [{:order/product-unique-id "pui-009"
    :order/channel [:customer/id "CM0007"]
    :order/service-category-enum :product.type/SS
    :order/io-writing-time #inst "2019-02-28"
    :order/product-net-price 700
    :order/terms-start-date "2019-02-26"
    :order/terms-end-date "2020-05-05"
    :order/accounting-data #{{:accounting/month "2019-05" :accounting/revenue 300}
                             {:accounting/month "2019-06" :accounting/revenue 400}}}]
]}
}
