{
:clj-crm/data9 {:txes [
  [{:rev-allo/sales [:user/email "userA1@example.com"]
    :rev-allo/customer-id "bbb"
    :rev-allo/customer [:customer/id "CM0003"]
    :rev-allo/time #inst "2019-03-15"
    :rev-allo/source :etl.source/lap}
   {:rev-allo/sales [:user/email "userA1@example.com"]
    :rev-allo/customer-id "ccc"
    :rev-allo/customer [:customer/id "CM0003"]
    :rev-allo/time #inst "2019-03-15"
    :rev-allo/source :etl.source/lap}]

  [{:rev-stream/stream-unique-id "sui-001-direct-rule=channel"
    :rev-stream/customer-id "aaa-not-used"
    :rev-stream/channel [:customer/id "CM0003"]
    :rev-stream/service-category-enum :product.type/line_ads_platform_tw
    :rev-stream/writing-time #inst "2019-03-01"
    :rev-stream/ad-unit "sui-001-channel-ad-unit"
    :rev-stream/accounting-time "2019-02"
    :rev-stream/billing-account-id "billing-account-id 001"
    :rev-stream/revenue 100
    :rev-stream/source :etl.source/lap}
   {:rev-stream/stream-unique-id "sui-001-direct-rule=customer"
    :rev-stream/customer-id "bbb"
    :rev-stream/service-category-enum :product.type/line_ads_platform_tw
    :rev-stream/writing-time #inst "2019-04-01"
    :rev-stream/ad-unit "sui-001-customer-ad-unit"
    :rev-stream/accounting-time "2019-03"
    :rev-stream/billing-account-id "billing-account-id 001"
    :rev-stream/revenue 20
    :rev-stream/source :etl.source/lap}
   {:rev-stream/stream-unique-id "sui-002-direct-rule=customer-unmatch-of-time||agency"
    :rev-stream/customer-id "ccc"
    :rev-stream/channel [:customer/id "CM0007"]
    :rev-stream/service-category-enum :product.type/line_ads_platform_tw
    :rev-stream/writing-time #inst "2019-03-01"
    :rev-stream/ad-unit "sui-002-ad-unit"
    :rev-stream/accounting-time "2019-02"
    :rev-stream/billing-account-id "billing-account-id 002"
    :rev-stream/revenue 5
    :rev-stream/source :etl.source/lap}
   {:rev-stream/stream-unique-id "sui-005-direct-rule=customer||agency"
    :rev-stream/customer-id "ccc"
    :rev-stream/channel [:customer/id "CM0007"]
    :rev-stream/service-category-enum :product.type/line_ads_platform_tw
    :rev-stream/writing-time #inst "2019-05-01"
    :rev-stream/ad-unit "sui-005-ad-unit"
    :rev-stream/accounting-time "2019-04"
    :rev-stream/billing-account-id "billing-account-id 005"
    :rev-stream/revenue 5
    :rev-stream/source :etl.source/lap}
   {:rev-stream/stream-unique-id "sui-003-agency"
    :rev-stream/customer-id "ddd-not-used"
    :rev-stream/channel [:customer/id "CM0008"]
    :rev-stream/service-category-enum :product.type/line_ads_platform_tw
    :rev-stream/writing-time #inst "2019-04-01"
    :rev-stream/ad-unit "sui-003-ad-unit"
    :rev-stream/accounting-time "2019-03"
    :rev-stream/billing-account-id "billing-account-id 003"
    :rev-stream/revenue 3000
    :rev-stream/source :etl.source/lap}
   {:rev-stream/stream-unique-id "sui-004-reseller"
    :rev-stream/customer-id "eee-not-used"
    :rev-stream/channel [:customer/id "CM0006"]
    :rev-stream/service-category-enum :product.type/line_ads_platform_tw
    :rev-stream/writing-time #inst "2019-07-01"
    :rev-stream/ad-unit "sui-004-ad-unit"
    :rev-stream/accounting-time "2019-07"
    :rev-stream/billing-account-id "billing-account-id 004"
    :rev-stream/revenue 40000
    :rev-stream/source :etl.source/lap}]
]}
:clj-crm/data10 {:txes [
  [{:target/year-quarterly "2019-q3"
    :target/user [:user/email "userA1@example.com"]
    :target/revenue 600}
   {:target/year-quarterly "2019-q3"
    :target/user [:user/email "userA2@example.com"]
    :target/revenue 700}
   {:target/year-quarterly "2019-q4"
    :target/user [:user/email "userB2@example.com"]
    :target/revenue 1200}
   {:target/year-quarterly "2019-q4"
    :target/user [:user/email "userB1@example.com"]
    :target/revenue 1800}]
  [[:db/add #db/id [:db.part/user] :db/ident :user.team/online]]
  [{:pipeline/year-quarterly "2019-q3"
    :pipeline/sales [:user/email "userA1@example.com"]
    :pipeline/product :product.type/line_now
    :pipeline/status "good"
    :pipeline/customer-name "Q"
    :pipeline/business-type "prostitution"
    :pipeline/prob 0.8
    :pipeline/revenue 600}
   {:pipeline/year-quarterly "2019-q3"
    :pipeline/sales [:user/email "userA2@example.com"]
    :pipeline/product :product.type/OA
    :pipeline/status "出單"
    :pipeline/customer-name "W"
    :pipeline/prob 0.7
    :pipeline/revenue 700}
   {:pipeline/year-quarterly "2019-q3"
    :pipeline/sales [:user/email "userB2@example.com"]
    :pipeline/product :product.type/BC
    :pipeline/status "good"
    :pipeline/customer-name "E"
    :pipeline/prob 0.1
    :pipeline/revenue 1200}
   {:pipeline/year-quarterly "2019-q3"
    :pipeline/sales [:user/email "userB1@example.com"]
    :pipeline/product :product.type/today
    :pipeline/status "good"
    :pipeline/customer-name "R"
    :pipeline/prob 0.2
    :pipeline/revenue 1800}]
]}
}
